

/*<!--1- header nav-->*/
.logo-header{
       
    height: 50px;
    width: auto;
}
.logout{
    width: 30px;
    height: 30px;
}

.logout svg{
    position: absolute;
    top:2%;
}
.cart-count-custom-header{
    position: absolute;
   top: -10%; 
    margin-left: -70%;
    color: white;
    
    
}
.icon-container {
background-color: #212529;
display: inline-flex;
justify-content: center;
align-items: center;
width: 50px;
height: 50px;
border-radius: 50%; 
}

/***** Aside *****/
aside {
height: 100vh;
position: sticky;
top: 0;
overflow-y: auto;
}

aside a {
    display: flex;
    width: 100%; /* Para que abarquen el ancho completo */
}
.custom-width{
    width: 75%;
}


aside a:hover {
background-color: #e8f5e9;
border-radius: 8px;
}

.bi {
flex-shrink: 0;
}
#aside-div{
grid-template-columns: 1fr 3fr; gap: 0;
}


/* CSS del checkout en Si*/

.checkout-container {
    
    max-width: 40%;
    max-height: 65%;
   
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  button {
    width: 100%;
    font-size: 16px;
    padding: 10px;
  }
  
  .text-danger {
    color: red;
  }
  .checkout-container #card-element{
    border: 1px solid #ddd; padding: 10px; border-radius: 5px;
  }
  .checkout-container #email_i{
    margin-top: 10% !important;
  }
  