

/*<!--1- header nav-->*/
.logo-header{
       
    height: 50px;
    width: auto;
}
.logout{
    width: 30px;
    height: 30px;
}

.logout svg{
    position: absolute;
    top:2%;
}
.cart-count-custom-header{
    position: absolute;
   top: -10%; 
    margin-left: -70%;
    color: white;
    
    
}
.icon-container {
background-color: #212529;
display: inline-flex;
justify-content: center;
align-items: center;
width: 50px;
height: 50px;
border-radius: 50%; 
}

/***** Aside *****/
aside {
height: 100vh;
position: sticky;
top: 0;
overflow-y: auto;
}

aside a {
    display: flex;
    width: 100%; /* Para que abarquen el ancho completo */
}
.custom-width{
    width: 75%;
}


aside a:hover {
background-color: #e8f5e9;
border-radius: 8px;
}

.bi {
flex-shrink: 0;
}
#aside-div{
grid-template-columns: 1fr 3fr; gap: 0;
}


/*<!--2- tabla--> */

.tabla-main{
margin-right: 10%;
}
/*
.boton-td-red svg:hover{
    background-color: #DC3545;
   

}
.boton-td-green svg:hover{
    background-color: #198754;

}*/
.cart-count-custom{
    position: absolute;
   top: -7%;
   
    margin-left: -74%;
}
/* boton aside pago !!*/

.b_aside_pago {
    width: 25% !important;
    height: 25% !important;
}

.b_aside_pago .checkout{
    margin: 2% 0 5% 22%;
    
}
.b_aside_pago .checkout:hover{
    background-color: #9cc6b2!important;
    color: #212529 !important;
}

.btn_changes {
    border-radius: 20px; /* Botones redondeados */
    font-size: 10px; /* Fuente más pequeña */
    font-weight: bold; /* Texto más destacado */
    padding: 5px 25px;
    transition: transform 0.3s ease; /* Animación de hover */
    }

    .btn_changes:hover {
    transform: scale(1.05); /* Efecto hover */
    }

    .btn-group {
    display: flex;
    gap: 4%; /* Espaciado entre botones */
    }

    @media (max-width: 768px) {
    .btn-group {
        flex-direction: column; /* Botones uno debajo del otro en pantallas pequeñas */
    }

    .btn_changes {
        width: 100%; /* Botones ocupan todo el ancho */
    }
    }

    h5 {
    color: #333333;
    }
/* Controles de paginacion */
    .pagination .page-item .page-link {
        color: #007bff;
      }
      .pagination .page-item.active .page-link {
        background-color: #007bff;
        border-color: #007bff;
      }
      .pagination .page-link:hover {
        background-color: #e9ecef;
      }
      